.header{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}

.footer{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}